---
sidebar_position: 5
---

# Synthetic Test Results

Synthetic Test Results page shows the historical monitoring results for the test.

![Synthetic Test Results](/img/synthetic-results.png)

## Viewing results

1. Navigate to [Synthetic Tests](https://app.devraven.io/app/syntheticTests) page.
2. Click on the monitor for viewing results.
3. The **Results** page shows the latest status for the test, recent 10 results, any console logs and captured screenshots for the web page.
4. Click **Latest result details** button to see detailed results in a modal dialog.

![Synthetic Test Result Data](/img/synthetic-details.png)

## Specific run details
The tabular data in the results page shows detailed data per monitor run. Click the **+ (plus) button** on the table rows to expand or click the **See monitor results** to see detailed run data.

The expanded section shows monitoring status and data from all selected monitoring locations.

Click **Copy direct url** to copy the run specific monitoring results URL.